# Starter code for the **Patron** table

**Before You Start:** You will need to update the starter code with your database and schema information.

In [ ]:
INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Jennifer', 'Slayny', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Susan', 'Traviss', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Vincent', 'Ritelli', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Tasia', 'Laybourne', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Wren', 'Gergler', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Tory', 'Lees', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Estelle', 'Di Lorio', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Dorian', 'Betje', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Frank', 'Jelk', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Chris', 'Endon', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Gillie', 'Fritz', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Leisha', 'Defty', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Erika', 'Bompass', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Gabe', 'Moxstead', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Blake', 'Teresse', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Joshua', 'Timmouth', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Tasha', 'Timmouth', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Neil', 'Davie', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Emmeline', 'Pitherick', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Josiah', 'Staner', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('James', 'Greetham', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Isaac', 'Barstowk', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Dean', 'Nelane', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Carolina', 'Cranmere', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Champ', 'Lardiner', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Abbie', 'Quaif', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Camile', 'Milbourne', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Quentin', 'Crose', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Silvano', 'Horlick', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Phyllis', 'Cicchillo', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Jerrie', 'Brownhall', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Ludovika', 'Leist', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Tara', 'Knatt', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Kelsie', 'Parkson', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Jodi', 'Leopard', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Rosanna', 'Cultcheth', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Remy', 'Fairpool', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Megan', 'Blyth', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Rikki', 'McLernon', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Clare', 'Haacker', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Vincent', 'Chettle', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Sybil', 'Costanza', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Jonas', 'Sinclare', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Claire', 'Bendel', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Kathleen', 'Welband', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Kylie', 'Crannage', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Evelyn', 'Tarajo', NULL);

INSERT INTO May2024JunkDB.shanthi.patron(first_name, last_name, loan_id)
VALUES ('Oliver', 'Caulson', NULL);